@charset "UTF-8";
/* 回答はここから */
.box{
  display: flex;
  justify-content: center;
}
.card{
  list-style: none;
  width: 200px;
  /* margin: 30px; */
  margin-right: 60px;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  border-radius: 13px;
  background: #d2b48c;
  padding: 10px;
  margin-top: 30px;
}
.card:last-child{
  margin-right: 0;
}